* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  }
  
  body {
    background-image: url("../img/fond.png");
    background-size: 2560px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
  }
  
  .cacher {
    display: none;
  }
  
  ul{
    list-style:none;
  }
  
  li:before {
    content: "• ";
    color: #e23939; 
    margin-right: 10px;
  }
  
  /*titre*/
  /*linear-gradient(to bottom, rgb(221, 153, 27) 90%,rgb(179, 124, 24) 90%);*/
  #titre {
    background: #e23939;
    height: 80px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   
  }
  
  #titre h1 {
    padding-top: 20px;
  }
  
  #titre img {
    padding-top: 15px;
    margin-right: 12px;
  }
  
  /*Slide*/
  
  #slider {
    position: relative;
    top: 20px;
  }
  
  .slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-align: center;
        justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
            align-items: center;
  }
  
  .slide p {
    font-weight: bold;
  }
  
  .slide img {
    border-radius: 3px;
    width: 100%;
    max-width: 1600px;
    height: 420px;
  }
  
  .utilisation {
    max-width: 1560px;
    width: 100%;
    min-height: 74px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: justify;
    border-top: 5px #e23939 solid;
    color: white;
    margin-top: -119px;
  }
  
  .utilisation h3 {
    font-size: 25px;
    
    
    text-align: center;
  }
  
  .utilisation p {
    font-size: 17px;
    text-align: center;
    margin-top: 9px;
  }
  
  #icones {
    position: absolute;
    max-width: 1600px;
    width: 100%;
    max-height: 500px;
    top: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
  }
  
  #proceder {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height:60px;
    background: white;
    top: 0%;
  }
  
  #proceder h2 {
    color: #e23939;
    margin-top: 16px;
  }
  
  .fas, #fleche-gauche, #fleche-droite {
    position: absolute;
    font-size: 20px;
  }
  
  #stop, #start {
    color: #e23939;
    bottom: 9px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: white;
    border-radius: 50%;
  }
  
  #stop:hover, #start:hover, #fleche-gauche:hover, #fleche-droite:hover  {
    color: white;
    background-color: #e23939;
  }
  
  #fleche-gauche:hover, #fleche-droite:hover {
    border-radius: 30%;
  }
  
  #stop {
    left: 15px;
    top: 119%;
    
  }
  
  #start {
    left: 45px;
    top: 119%;
    
  }
  
  .fa-angle-left {
    font-size: 36px;
    margin-left: 7px;
    
  }
  
  .fa-angle-right {
    margin-left: 11px;
    font-size: 36px;
   
  }
  
  #fleche-droite {
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: white;
    border: #e23939 1px solid;
    height: 35px;
    width: 35px;
    border-radius: 7px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #e23939;
    margin-top: -1px;
  }
  
  #fleche-gauche {
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: white;
    border: #e23939 1px solid;
    height: 35px;
    width: 35px;
    border-radius: 7px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #e23939;
    margin-top: -1px;
  }
  
  /*Map*/
  
  #map {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    background-color: grey;
     
  }
  
  
  #info-station {
    width: 100%;
    max-width: 400px;
    height: 600px;
    background: rgb(46, 46, 46);
    color: white;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
      
  }
  
  #info-station h2 {
    position: absolute;
    top: -20px;
    background:#e23939;
    color: white;
    padding: 5px;
    box-shadow: 3px 5px 6px 0px rgb(51, 51, 51);
  }
  
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -20px;
  }
  
  #indication h3 {
    margin: 45px 17px;
    text-align: justify;
    font-size: 1.3em;
  }
  
  .alignement {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 32px;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
  }
  
  .alignement p {
    margin-bottom: 10px;
  }
  
  form {
    position: absolute;
    height: 160px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5%;
    background-color: white;
    border: 7px solid rgb(114, 114, 114);
    font-weight: bold;
    color: black;
    top: 275px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%)
  }
  
  form input {
    height: 20px;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(top, rgb(31, 31, 31) 5%, rgb(43, 43, 43) 50%, rgb(31, 31, 31) 95%);
    background: linear-gradient(to bottom, rgb(31, 31, 31) 5%, rgb(43, 43, 43) 50%, rgb(31, 31, 31) 95%);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 3px;
  }
  
  #bouton-reservation {
    height: 37px;
  }
  
  /*Canvas*/
  
  #signature, #blank {
    background-color: white;
    margin: 30px 0px 10px 0px;
    place-self: center;
    border: 7px solid rgb(200, 207, 204);
    border-radius: 3px;
  }
  
  #canvas {
    width: 100%;
    max-width: 400px;
    height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    top: 245px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
  }
  
  #bouton-canvas {
    -ms-flex-item-align: center;
        align-self: center;
  }
  
  #bouton-canvas button {
    margin: 0px 5px;
  }
  
  /*footer*/
  
  footer {
    height: 140px;
    background: #e23939;
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.17em;
    font-weight: bold;
    color: white;
  }
  
  #reservation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  #timer {
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  
  .bouton {
    -ms-flex-item-align: center;
        align-self: center;
    background: #e23939;
    border: white solid 2px;
    font-size: 0.9em;
    padding: 3px 7px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .bouton:hover {
    background: white;
    color: #e23939;
    border: #e23939 solid 2px;
    box-shadow: 0px 11px 16px -9px rgba(117,117,117,1);
  }
  
  @media all and (max-width: 900px) {
  
    .slide img {
      display: none;
    }
  
    .utilisation {
      margin-top: -178px;
      min-height: 280px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: none;
      color: #e23939;
    }
    .utilisation h3 {
      margin-top: 45px;
    }
    .utilisation p {
      max-width: 600px;
      
    }
    section {
      margin-top: -115px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    #info-station {
      max-width: none;
      -ms-flex-item-align: center;
          align-self: center;
      
      height: 460px;
    }
    #info-station h2 {
      text-align: center;
    }
  
    .alignement {
      margin-left: 15%;
    }
    form {
      width: 60%;
      margin-top: 25px;
      top: 165px;
    }
  
    form p {
      -ms-flex-item-align: center;
          align-self: center;
    }
    form input {
      width: 60%;
      -ms-flex-item-align: center;
          align-self: center;
    }
    #canvas {
      -ms-flex-item-align: center;
          align-self: center;
      top: 210px;
    }
    footer {
      margin-top: 0px;
    }
    #info-reserve, #non-reserve, #annulation-reservation {
      text-align: center;
    }
  }